/*General*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
html {
    background: linear-gradient(to bottom, #7FFFD4 0%, #FFFFFF 50%, #F5F5DC 100%);
}
body{
    padding: 0;
    margin: 0;
    
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    
}

#frog {
    max-width: 200px;
    height: auto;
    width: 100%;
}
nav{
    display: flex;
    padding: 0;
    font-size: 18px;
    
}

nav > ul{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 list-style: none;
 padding: 0;
}
nav > ul > li {
    margin: 10px;
    justify-content: flex-end;
    padding: 10px;
    
}
nav > ul > li > a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 800;
    
}
nav > ul > li > a:hover{
    background-color: black;
    color: aquamarine;
    border: 2px solid white;
}
.head{
    text-align: center;
    max-width: 500px;
    height: auto;
    width: 100%;
}
hr {
    border: 1px solid rgba(0,0,0,0.4);
}

/* Body Styling */
/*Search Section*/
main {
    padding: 20px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.box {
    width: 100%;
}
#search {
    display: flex;
    flex-direction: column;
    justify-self: flex-content;
    align-items: start;
    text-align: start;
    font-size: 18px;
    font-weight: 800;
}
.searchbox{
    margin: 10px 0;
    padding: 7px;
    width: 40%;
    flex-wrap: wrap;
    
}
.searchbox > label {
    display: flex;
    flex-direction: row;
    text-align: center;
    min-width: 200px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.searchbox > label > input{
    align-items: center;
    align-self: center;
    min-width: 100px;
    min-height: 20px;
    margin: auto 20px;
    width: 100%;
    height: auto;
}
#first-form {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 40px 0;
}
button {
    display: block;
    margin: 10px auto;
    width: 20%;
    height: auto;
    padding: 5px;
    font-size: 18px;
    background-color: inherit;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 800;
}
button:hover{
    background-color: black;
    color: aquamarine;
    border: 2px solid white;
    cursor: pointer;
}

#wetterbild {
    max-width: 450px;
    height: auto;
    min-width: 100px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 5px 5px black;
}
/*Weather Display*/

.week{
    margin-top: 100px;
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    
}
.week > ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.week > ul > li {
    margin: 40px;
    padding: 20px;
    min-width: 200px;
    height: auto;
    border: 2px solid rgba(0,0,0,0.4) ;
    border-radius: 5px;
    
}

.small-image{
    max-width: 100px;
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 5px 5px black;
}

/*Footer*/
footer{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 800;
    color: black;
    
}
footer > p > a {
    color: black;
}
